*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Consolas, monaco, monospace;
}

#page{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    
}
#content{
    border: 2px solid;
    width: 90%;
}
#side-bar{
    width: 10%;
}

.git-logo{
    width: 65px;
    height: 30px;
    border: 2px solid;
    object-fit: cover;
}